.header-links {
  color: #c4cfde !important;
  cursor: pointer;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}
.header-link:hover {
  color: #f8185f !important;
}

#linkedin:hover {
  background: linear-gradient(145deg, #ff014f, #d11414);
}
.MuiDrawer-paper {
  background: #212328 !important;
}
.send-btn {
  transition: all 0.5s ease !important;
  /* width: 100%; */
}
.send-btn:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
#send-masg:hover {
  transform: translateY(-10px);
}
